<%- include("partials/header.ejs") %>

<div class="form-capsule">
  <div class="form-box">
    <form action="/submit" method="POST">
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Enter your Email</label>
        <input
          type="email"
          class="form-control"
          name="inputEmail"
          id="inputEmail"
        />
      </div>
      <div class="mb-3">
        <label for="inputNumOfDigits" class="form-label">
          Enter No of digits You want in the username
        </label>
        <input
          type="number"
          class="form-control"
          name="inputNumOfDigits"
          id="inputNumOfDigits"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <% if(locals.username){ %>
      <div class="username">
        <h2>Your username: <%= username %></h2>
      </div>
      <% } %>
  </div>
</div>
<%- include("partials/footer.ejs") %>

<!-- <pre>1. create a form with a input box using html form.
2. after entering the email click on submit 
(make the index.ejs in such way that it asks for email when nothing is entered)
    a. the submit will be handled by post request to send the email to backend
    b. process the email using the node module
    c. store the username and pass to index.ejs using render and data
    d. if possible add a copy button.
</pre> -->
