body{
    background-color: black;
}
*{
    color: rgb(130, 255, 245);
}
label{
    font-size: 1.2em;
}
.form-capsule{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-box{
    border-style:inset;
    border-color: aquamarine;
    border-radius: 2rem;
    padding: 5rem;
}
.username{
    margin: 1rem;
}
.username > h2{
    color: rgb(255, 138, 71);
}